.Question_tab
{
    width: 80vw;
 /* background-color: red; */
    min-height: 200px;
}
.randomquestion_btn{
    height: 4em;
    width:22em;
    font-size: 1em;
    border: none;
    float: left; 
    margin-left: 5em;
    background-color:white;
    font-weight: bold;
}
.predefinedQuestion_btn{
    margin-left: 15em;
    height: 4em;
    width:22em;
    font-size: 1em;
    border: none;
    background-color:white;
    font-weight: bold;
}


.random_box{
    margin-left:8px;
    margin-top:2.2em;
}
.random_field_label{
    font-size: 20px;
}
.random_number_field{
    height: 1.9em;
    width: 32.3em;
    border-radius: 5px;
    border: 1px solid rgb(192, 190, 190);
}
.random_technology_field{
    margin-top: 10px;
    width: 35.5em;
}

.technology_field,.noOfmcq_field{
    margin-top:1em;
}
.noOfMcq_field{
    height: 1.9em;
    width: 16.1em;
    border-radius: 5px;
    border: 1px solid rgb(192, 190, 190);
}

.activeTab{
    border-bottom: 5px solid blue;
}